{{#if results}}
  <div class="list-group">
    {{#if results.page}}
      {{#each results.docs}}
        {{> user/single}}
      {{/each}}
    {{else}}
      {{#each results}}
        {{> user/single}}
      {{/each}}
    {{/if}}
  </div>
  {{> pagination}}
{{else}}
  <p>No results.</p>
{{/if}}
