<section class="race">
  <h3>{{name}}</h3>
  
  <h4>Information</h4>

  <p>
    <div><strong>Created by:</strong> {{author.name.first}}</div>
    <div><strong>Created on:</strong> {{dateFormat created "YYYY-MM-DD HH:mm:ss"}}</div>
    <div>&nbsp;</div>
  </p>

</section>
