<div class="container">
  
  <h1>{{title}}</h1>
  <p class="lead">Manage your waypoints.</p>

  <div class="row">
    
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <th>Name</th>
          <th>Location</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <div id="map" style="height: 330px;"></div>
    </div>

  </div>

</div>

<script>

  var map;
  var infowindow;

  function initMap() {
    var pyrmont = {lat: 51.6889066, lng: 5.3027793};

    map = new google.maps.Map(document.getElementById('map'), {
      center: pyrmont,
      zoom: 8
    });

    infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch({
      location: pyrmont,
      radius: 200,
      type: ['cafe']
    }, callback);

    var circle = new google.maps.Circle({
      strokeColor: '#0000FF',
      strokeOpacity: 0.2,
      strokeWeight: 2,
      fillColor: '#0000FF',
      fillOpacity: 0.1,
      center: pyrmont,
      radius: 200,
      map: map
    });

    map.fitBounds(circle.getBounds());
  }

  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var placeIcon = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
    var marker = new google.maps.Marker({
      map: map,
      position: placeLoc,
      icon: placeIcon
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent('Click <a href="#">here</a> to create a new waypoint.');
      infowindow.open(map, this);
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXyUPgb11BSOrW6YnkzO-XH0QKlgjfqg&libraries=places&callback=initMap" async defer></script>
