{{#if page}}
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <th>Name</th>
        <th>Location</th>
      </thead>

      <tbody>
        {{#each docs}}
          {{> waypoint/single}}
        {{/each}}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <a href="#" id="newWaypoint">Add waypoint</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <nav>
    <ul class="pagination">
      {{#times pages}}
        <li><a href="#" data-page-id="{{this}}">{{this}}</a></li>
      {{/times}}
    </ul>
  </nav>
{{else}}
  <p>Unsupported</p>
{{/if}}
