<div class="container">
  <div class="rows">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <p class="lead">Welcome to Pub Crawl.</p>
    </div>
    <div class="col-sm-5 col-md-4">
      <ul class="nav nav-pills-stacked">
        <li><a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
        <li><a href="/races"><i class="fa fa-fw fa-flag-checkered"></i> Races</a></li>
        <li><a href="/docs"><i class="fa fa-fw fa-book"></i> API Documentation</a></li>
      </ul>
    </div>
  </div>
</div>
