<div class="container">
  <div class="rows">
    <div class="col-md-12">
      <h1>Play</h1>
      <p class="lead">Cheers lad!</p>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-fw fa-flag-checkered"></i> 
            Races
          </h3>
        </div>
        <div id="races" class="list-group"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-fw fa-map-marker"></i> 
            Waypoints
          </h3>
        </div>
        <div id="waypoints" class="list-group"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="rows">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="rows">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-fw fa-user"></i> 
            Users
          </h3>
        </div>
        <ul id="users" class="list-group"></ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-fw fa-bolt"></i> 
            Activity
          </h3>
        </div>
        <ul id="activity" class="list-group"></ul>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/play.js"></script>
