<div class="container">
  <div class="rows">
    <div class="col-md-12">
      <h1>{{user.name.first}} {{user.name.last}}</h1>
      <p class="lead">{{user.email}}</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span id="raceCount" class="pull-right">0</span>
          <i class="fa fa-fw fa-flag-checkered text-primary"></i> Races
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span id="waypointCount" class="pull-right">0</span>
          <i class="fa fa-fw fa-map-pin text-primary"></i> Waypoints
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span id="scoreCount" class="pull-right">0</span>
          <i class="fa fa-fw fa-trophy text-primary"></i> Score
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      <p class="text-muted">Joined on {{dateFormat user.created "D MMM YYYY"}}</p>
    </div>
  </div>
</div>
