<div class="container">
  <div class="rows">
    <div class="col-xs-12">
      <h1>{{user.name.first}} {{user.name.last}}</h1>
      <p class="lead">{{user.email}}</p>
      <p class="text-muted">Joined on {{dateFormat user.created "D MMM YYYY"}}</p>
    </div>
  </div>
</div>
