<div class="container">
  <div class="rows">
    <div class="col-md-12">
      <h1>Races</h1>
      <hr>
    </div>

    <div class="col-sm-8 col-md-8">
      <div id="race">  
        <h2 id="raceName">{name}</h2>
        <p id="raceDescription" class="lead">{description}</p>
        <section class="waypoint-list">
          <h3>Waypoints</h3>
          <div id="waypointList"></div>
        </section>

        <p class="text-muted">Created <span id="raceCreated">{created}</span> by <span id="raceAuthor">{author}</span>.</p>
      </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <h3>Races</h3>
      <div id="raceList"></div>
    </div>
  </div>
</div>

<script src="/js/races.js"></script>
