<div class="container">

  <div class="rows">
    
    <div class="col-md-12">
      <h1>Users</h1>
      <hr>
    </div>

    <div class="col-sm-8 col-md-8">
      <div id="user"></div>
    </div>

    <div class="col-sm-4 col-md-4">

      <div id="users"></div>

    </div>

  </div>

</div>

<script src="/js/users.js"></script>
